body{
    margin: 0px;
}
.body_container{
    display: flex;
    width: 100%;
    height: 100%;
}
.hidden{
    display: none !important;
}
.connetor_container{
    height: auto;
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    border-right: 5px solid blue;
    align-items: center;
    padding: 0.5%;
}
.cable_styling{
    height: auto;
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    border-left: 5px solid red;
    align-items: center;
    padding-left: 5px;
    box-sizing: border-box;
}
.cable_editor_container{
    display: flex;
    height: auto;
    width: 50%;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 0.5%;

}

.header_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.title{
    font-size: 3vw;
}
.side_title{
    font-size: 2.2vw;
}
.pre-config_header{
    font-size: 1vw;
}
.button{
    border-radius: 50px;
    padding: 10px 18px 10px 18px;
    transition-duration: 0.3s;
    font-size: 13px;
    user-select: none;
}
button:hover{
    cursor: pointer;
}
.center_btn{
    background-color: rgb(247, 247, 247);
    border: 2px solid rgb(0, 0, 0);
}
.center_btn:hover{
    background-color: gray;
    color: white;
}
.left_btn{
    background-color: rgb(247, 247, 247);
    border: 2px solid blue;
}
.left_btn:hover{
    background-color: rgb(90, 90, 255);
    color: white;
}
.right_btn{
    background-color: rgb(247, 247, 247);
    border: 2px solid red;
}
.right_btn:hover{
    background-color: rgb(255, 90, 90);
}
.search{
    padding: 10px;
    border: none;
    border-radius: 50px;
    width: 100%;
    margin-left: 10px;
}
.search:active{
    border: none;
    outline: none;
}
.search:focus{
    outline: none;
}
.filter_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    gap: 10px;
}
.filter_container button{
    flex-grow: 1;
    flex-basis: 0;
}

.connector_selector_container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
}
.connector_selector_container h1{
    display: block;
    margin: 0;
    font-weight: normal;
    font-size: 1.6rem;
    margin-top: 2px;
    margin-bottom: 10px;
}
.segment_connectors_container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 4px;
    overflow: hidden;
}


.connector_selector_radio_container:hover input ~ .connector_selector_radio{
    background-color: rgb(151, 166, 251);
    transform: scale(1);
}

.connector_selector_radio_container{
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    flex-basis: 50%;
    transition: all 0.6s ease-in-out;
    transform: scale(1);
    overflow: hidden;
}

.hidden_output_B{
    margin-left: -2px;

}
.hidden_input_B{
    margin-left: -4px;
}

.connector_selector_radio_container input{
    display: none;
}
.connector_selector_radio_container input:checked ~ .connector_selector_radio{
    background-color: rgb(90, 90, 255);
    color: white;
}

.connector_selector_radio{
    border: 2px solid blue;
    padding: 5px 7px 5px 7px;
    border-radius: 50px;
    flex-grow: 1;
    text-align: center;
    user-select: none;
    transition: all 0.3s ease-in-out;
    text-wrap: nowrap;
}


.connetor_results_container{
    width: 100%;
    flex-grow: 1;
    background-color: rgb(151, 166, 251);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.connector_cell_container{
    background-color: white;
    border-radius: 20px;
    border: 2px solid blue;
}
.connector_cell_type_1{
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    min-height: 150px;
}
.connector_cell_type_1 img{
    width: 55%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}
.cell_text_type_1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
}
.cell_text_type_1 p{
    margin: 0px;
}
.connector_cell_more_options{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    gap: 5px;
}
.connector_cell_more_options button{
    background-color: rgb(247, 247, 247);
    border: 2px solid blue;
    padding: 7px 0px 7px 0px;
    flex-basis: 90%;
    font-size: 1.15rem;
    border-radius: 20px;
}

.connector_cell_more_options button:hover{
    background-color: rgb(90, 90, 255);
    color: white;
}


.cable_full{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.input_output{
    display: flex;
    justify-content: center;
    position: relative;
    container-type: inline-size;
    box-sizing: border-box;
    z-index: 5;
}

.move_right_io{
    transform: translatex(calc(50cqw - 50%));
}
.move_left_io{
    transform: translatex(calc(-50cqw + 50%));
}
.io_hidden{
    z-index: -1;
}
.connectors_output_segment{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    align-items: flex-start;
}

.connectors_input_segment{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 11;
    align-items: flex-end;
}

.center{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 3px solid red; */
    box-sizing: border-box;

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 10;
}

.cable_SVG_center{
    width: auto;
    height: 91%;
    position: absolute;
}
.cable_SVG_left{
    width: auto;
    height: 91%;
    position: absolute;
}

.main_bubble_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: 80%;
    width: 40%;
    position: absolute;
    transition: all 0.4s ease-in-out;
    justify-content: center;
    container-type: inline-size;
}

.connector_bubble{
    background-color: white;
    border: 4px solid black;
    border-radius: 25px;
    height: 75%;
    width: 100%;
    display: block;
    margin: 2px;
    cursor: pointer;
    transition-duration: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0px 7px 6px 7px;
    box-sizing: border-box;
}
.connector_bubble:hover{
    background-color: rgb(247, 247, 247);
}

.connector_bubble_active{
    border-color: blue;
    box-shadow: 0px 0px 15px 0px blue;
}

.bubble_text{
    position: absolute;
    transition: all 0.4s ease-in-out;
    z-index: -1;
    border: 2px solid black;
    border-radius: 20px;
    padding: 1px 7px 1px 7px;
    background-color: white;
    font-size: 1.2rem;
    text-wrap: nowrap;
    transform: scaleX(0);
}

.main_bubble_container:hover .bubble_text{
    transform: scaleX(1) translatey(-50cqw);
}
.main_bubble_container:hover .bubble_details{
    transform: scaleX(1) translatey(50cqw);
}
.bubble_id_text{
    margin: 0;
    font-size: 0.9vw;
}
.bubble_img{
    max-width: 100%;
    min-height: 50%;
    flex-grow: 1;
}


.bubble_details{
    position: absolute;
    z-index: -1;
    transition: all 0.4s ease-in-out;
    background-color: white;
    border: 2px solid black;
    padding: 1px 7px 1px 7px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    transform: scaleX(0);
}

.bubble_details:hover{
    background-color: rgb(151, 166, 251);
}

.connector_count_container{
    display: flex;
    align-items:flex-end;
    justify-content: center;
}
.connector_count_button{
    display: block;
    border: 3px solid blue;
    border-radius: 20px;
    background-color: lightgray;
    cursor: pointer;
    padding: 5px 7px 5px 7px;
    flex-grow: 1;
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
    transition-duration: 0.3s;
    user-select: none;
    margin-right: 6px;
}
.connector_count_button:hover{
    background-color: rgb(151, 166, 251);
    color: white;
    /* color: white; */
}

.count_output{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-items: flex-end;
}

.count_input{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 10;
    grid-row-end: 11;
    align-items: flex-start;
}

.style_scroll{
    width: 100%;
    box-sizing: border-box;
    height: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgb(250, 149, 149);
    padding: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.style_container{
    background-color: white;
    border: 2px solid red;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4vw;
    /* overflow: hidden; */
    /* padding: 0.4vh 0.3vw; */
}
.style_container_header{
    font-size: 1.7rem;
}
.length_row_segment{
    text-align: center;
    text-wrap: nowrap;
    font-size: inherit;
    /* margin: 0px 2px; */
}
.inline_ratio{
    color: red;
}
.length_row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    flex-basis: 7.5vw;
    font-size: 1.6vw;
}
.border_top{
    border-top: 1px solid lightgray;
}
.border_top_bottom{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.border_right{
    border-right: 1px solid lightgray;
}

.padlock_btn{
    display: flex;
    border: 2px solid red;
    border-radius: 50%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    transition: all 0.3s ease-in-out;
    background-color: white;
    flex-shrink: 0;
    overflow: hidden;
    position: absolute;
    left: -0.6vw;
}

.length_btn{
    border-radius: 50%;
    aspect-ratio: 1;
    font-size: 1.1vw;
    width: 2.2vw;
}

.large_length_btn{
    width: 2.2vw;
}

.length_number{
    flex-grow: 1;
    text-align: end;
    font-size: 1.9vw;
    padding: 0px;
    margin: 0px;
    transition: all 0.4s ease;
    outline: none;
    border-radius: 0px;
    border: 0px;
    width: 50%;
    background-color: #ffffff00;
    color: inherit;
}
.length_number::-webkit-outer-spin-button,
.length_number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.length_number[type=number] {
    -moz-appearance: textfield;
}
.active.number_wrapper{
    /* color: red; */
    background-color: lightgray;
    /* font-weight: bold; */
}
.error.number_wrapper{
    background-color: red !important;
    color: white;
}
.change.number_wrapper{
    background-color: orange !important;
    color: black;
}
/* .error.number_wrapper .length_number, .error.number_wrapper .length_inches{
    color: white;
} */
.input_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 0.4vw;
    position: relative;
    padding-top: 0.3vw;
}
.disable.input_wrapper, .disable.input_wrapper .length_number{
    pointer-events: none;
}
.disable.input_wrapper .length_btn{
    opacity: 0;
}
.disable.input_wrapper .number_wrapper .increment_wrapper{
    opacity: 0;
}
.title_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.number_wrapper{
    display: flex;
    width: 46%;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
    height: 75%;
}

.increment_wrapper{
    display: flex;
    flex-direction: column;
    width: 25%;
    user-select: none;
    font-size: 1.3vw;
    transition: all 0.3s ease-in-out;
}
.error.increment_wrapper .increment{
    cursor: not-allowed;
    background-color: grey;
    
    /* pointer-events: none; */
}
.limit{
    background-color: gray !important;
    opacity: 0.5;
    pointer-events: none;
}
/* .limit.increment:hover{
    cursor: not-allowed;
    background-color: gray;
    color: black;  
} */
.increment{
    height: 50%;
    width: 100%;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    transition: all 0.4s ease;
    cursor: pointer;
    font-weight: bold;
    color: black;
}

.increment:first-child{
    align-items: flex-start;
}
.increment:last-child{
    align-items: flex-end;
}
.increment:hover{
    background-color: red;
    color: white;
}

.length_row_3_connectors{
    width: 100%;
    flex-basis: 16vh;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    flex-grow: 1;
    overflow: hidden;
    padding: 0px 5px 5px 5px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.length_section_wrapper{
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

#input_length_section{
    
}

#output_length_section{

}

.flex_hide{
    transform: scale(0) !important;
    flex: 0 1 0 !important;
    border-width: 0px;
    padding: 0px;
    margin: 0px;
}

.alt_length{
    font-size: 1vw;
    color: black;
}
.length_inches{
    align-self: center;
    flex-grow: 1;
    padding-top: 5px;
    padding-left: 3px;
}

.radio_row{
    width: 100%;
    text-align: center;
    padding-bottom: 3px;
    transition: all 0.4s ease;
    overflow: hidden;
    flex-basis: 6vw;
}

.radio_header{
    font-size: 1.5vw;
}

.radio_segments{
    font-size: 1vw;
}

.radio_selector{
    width: 80%;
    text-align: center;
    color: red;
    font-size: 1.1vw;
}

.style_row{
    width: 90%;
    display: flex;
    flex-direction: column;
    /* gap: 1vh; */
    overflow: hidden;
    /* transition: all 0.4s ease-in-out; */
    padding-bottom: 2vh;
}
.style_sub_row{
    width: 100%;
    display: flex;
    gap: 0.6vw;
    align-items: center;
    margin-top: 1.1vh;
    transition: all 0.5s ease;
}
.style_row_header{
    font-size: 2vw;
    /* font-weight: bold; */
    text-align: center;
}
.style_sub_row_content{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 1vw; */
    height: 100%;
}
.style_sub_row_content:has(.select_btn){
    justify-content: space-around;
    gap: 0px;
}
.strand_btn{
    border-radius: 50%;
    aspect-ratio: 1;
    font-size: 1.3vw;
    width: 1.7vw;
}
.style_button{
    border: 2px solid red;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    position: relative;
    transition: all 0.3s, border-width 0s, font-size 0s ease-in-out;
    background-color: white;
    user-select: none;
}
.style_button:hover, .style_drop:hover{
    background-color: rgb(252, 145, 145);
    color: white;
}
.active.style_button{
    color: white;
    box-shadow: 0px 0px 15px 0px red;
    background-color: rgb(252, 145, 145);
}
.style_drop{
    text-align: center;
    font-size: inherit;
    border-radius: 20px;
    border: 2px solid red;
    outline: none;
}

.color_selected_box{
    display: flex;
    border: 2px solid black;
    background-color: white;
    width: 96%;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    border-radius: 20px;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s ease;
}
.color_selected_box:hover{
    border-color: red;
    box-shadow: 0px 0px 15px 0px red;
}
.color_list_square{
    width: 1vw;
    aspect-ratio: 1;
    background-color: black;
}

.select_btn{
    border-radius: 20px;
    font-size: 1.1vw;
    padding: 0px 0.5vw 0px 0.5vw;
    text-overflow: unset;
}
.color_change_btn{
    font-size: 0.9vw;
    padding: 0px 0.5vw 0px 0.5vw;
    border-radius: 20px;
}
.new_hide{
    transform: scale(0);
    font-size: 0px;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    gap: 0px;
}
.new_hide .style_sub_row{
    margin: 0px;
}

.new_hide * .style_sub_row_content *, .new_hide .style_sub_row_content, .new_hide * .color_selected_box, .new_hide * .color_selected_box .color_list_square, .new_hide .style_row_header{
    font-size: 0px;
    border-width: 0px;
    width: 0px;
    padding: 0px;
    height: 0px;
    gap: 0px;;
}

